

app-table {
	width: 100%;
	display: block;
}
.mat-card-title .mat-icon {
	color: $blue;
}
.btn-hover:hover {
	cursor: pointer;
}
.component {
  $h: "Calc(100vh - 2rem)";
  padding: 1rem;
  display: block;
  max-height: #{$h};
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.mat-cell.invalid {
  background: #f4f5f5;
  // color: #ccc;
	opacity: 0.5;
}
.mat-cell.mat-column-actions button.edit {
  color: rgba(93,135,148,0.7);
}
.mat-cell.mat-column-actions button.edit:hover {
  color: rgba(93,135,148,1);
}
.mat-cell.mat-column-actions button.delete {
  color: rgba(82,89,90,0.7);
}
.mat-cell.mat-column-actions button.delete:hover {
  color: rgba(82,89,90,1);
}
.mat-cell.mat-column-actions button:disabled {
  color: #ccc !important;
}
table tbody tr:nth-of-type(even) {
  background: #f8f8f8;
}
.mat-card + .mat-card {
	margin-top: 1rem !important;
}
app-table table tbody tr:hover {
	background: rgba(93,135,148,.1);
}
app-table table tbody tr:hover .mat-cell.invalid {
	background: none;
	opacity: 1;
}
app-table table tbody tr:hover td:hover:not(.invalid) {
	background: rgba(93,135,148,.05) !important;
	// color: #fff !important;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
}
