$default: #999999;
$white: #ffffff;
$offWhite: #f4f5f5;
$tertiary: #aec3c9;
$secondary: #5d8794;
$primary: #52595a;
$border: #afc3c8;
$dark: #202020;
$darkHover: #3b3a3a;
$darkText: #7f7f7f;
$blue: #7d57f7;
