@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';


@media screen and (max-width: 786px) {
  .date {
    font-size: 1rem;
  }
  .name {
    font-size: .75rem;
  }
  .icon {
    right: .25vw !important;
    bottom: .25vw !important;
    .material-icons {
      height: 2vw;
      width: 2vw;
      font-size: 2vw;
    }
  }
}

@media screen and (min-width: 787px) and (max-width: 1024px) {
  .date {
    font-size: 1.25rem;
  }
  .name {
    font-size: .75rem;
  }
  .icon {
    .material-icons {
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .date {
    font-size: 1.5rem;
  }
  .name {
  }
}

.calendar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  .mat-card-header {
    position: relative;
    .month {
      flex: 100%;
      padding-bottom: 1rem;
      h1 {
        font-size: 1.5rem;
        text-align: center;
      }
      button {
        position: absolute;
        @include button-primary;
        @include pointer;
      }
      button:first-of-type {
        left: 0px;
      }
      button:last-of-type {
        right: 0px;
      }
      .mat-icon.this-month {
        color: #52595a;
        @include pointer;
      }
    }
  }
  .mat-card-content {
    // background: $offWhite;
    border: 1px solid #e6e6e6;
  }
  .days {
    width: 100%;
    max-width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .day {
      flex: 13.5%;
      border: 1px solid transparent;
      text-align: center;
      position: relative;
      .name, .date {
        display: flex;
        justify-content: space-around;
        span {
          flex: 1 1 0;
          align-self: center;
        }
      }
      .name {
        background: $secondary;
        height: 2.75vw;
        max-height: 32px;
        color: $white;
      }
      .date {
        height: 8vw;
        max-height: 96px;
      }
      .icon {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        right: .5vw;
        bottom: .5vw;
        color: $tertiary;
      }
      &.today,
      &:hover {
        background: $offWhite;
        cursor: pointer;
        .name {
          color: $white;
          background: $primary;
        }
        .icon {
          color: $primary;
        }
      }
      &.today {
        border-color: $primary;
      }
      &.disabled {
        border-color: #e6e6e6;
        opacity: 0.6;
        cursor: default;
        .name, .date {
          color: initial;
        }
        .name {
          background: $tertiary;
          color: initial;
        }
        .date {
          background: $offWhite;
        }
      }
    }
  }
}

.hidden {
  display: inline;
  border: 0px !important;
  width: 1px !important;
  height: inherit !important;
}
