<div class="time-navigation">
  <div *ngIf="ws.mobile && profile" class="time-navigation-menu" (click)="toggleMenu()">
    <button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="time-dev-logo">
    <img src="../../assets/img/logo-dev-low-res.png">
  </div>
  <div *ngIf="profile" class="time-navigation-logout">
      <mat-icon>settings</mat-icon>
      <mat-icon [matMenuTriggerFor]="appMenu" class="btn-hover">arrow_drop_down</mat-icon>
      <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
        <!-- <button mat-menu-item>Settings</button> -->
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
  </div>
  <ng-container *ngIf="ws.mobile && menuOpen">
    <div class="time-navigation-mobile-menu">
      <app-menu></app-menu>
    </div>
    <div class="time-navigation-mobile-menu-mask" (click)="toggleMenu()"></div>
  </ng-container>
</div>
